use [master]
go
/*******************************************************************************
   Drop database if it exists
********************************************************************************/
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'SWP')
BEGIN
	ALTER DATABASE [SWP] SET OFFLINE WITH ROLLBACK IMMEDIATE;
	ALTER DATABASE [SWP] SET ONLINE;
	DROP DATABASE [SWP];
END
GO

CREATE DATABASE [SWP]
GO

USE [SWP]
GO

/*******************************************************************************
	Drop tables if exists
*******************************************************************************/
DECLARE @sql nvarchar(MAX) 
SET @sql = N'' 

SELECT @sql = @sql + N'ALTER TABLE ' + QUOTENAME(KCU1.TABLE_SCHEMA) 
    + N'.' + QUOTENAME(KCU1.TABLE_NAME) 
    + N' DROP CONSTRAINT ' -- + QUOTENAME(rc.CONSTRAINT_SCHEMA)  + N'.'  -- not in MS-SQL
    + QUOTENAME(rc.CONSTRAINT_NAME) + N'; ' + CHAR(13) + CHAR(10) 
FROM INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS AS RC 

INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE AS KCU1 
    ON KCU1.CONSTRAINT_CATALOG = RC.CONSTRAINT_CATALOG  
    AND KCU1.CONSTRAINT_SCHEMA = RC.CONSTRAINT_SCHEMA 
    AND KCU1.CONSTRAINT_NAME = RC.CONSTRAINT_NAME 

EXECUTE(@sql) 

GO
DECLARE @sql2 NVARCHAR(max)=''

SELECT @sql2 += ' Drop table ' + QUOTENAME(TABLE_SCHEMA) + '.'+ QUOTENAME(TABLE_NAME) + '; '
FROM   INFORMATION_SCHEMA.TABLES
WHERE  TABLE_TYPE = 'BASE TABLE'

Exec Sp_executesql @sql2 
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](80) NOT NULL,
	[AccountPassword] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[PhoneNumber] [bigint] NULL,
	[Status] [int] NULL,
	[AccessLevel] [int] NULL,
 CONSTRAINT [PK_Account_1] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcement]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement](
	[AnnouncementID] [int] IDENTITY(1,1) NOT NULL,
	[LibrarianID] [nvarchar](50) NOT NULL,
	[PublishDate] [date] NULL,
	[Title] [nvarchar](255) NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnouncementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Bname] [nvarchar](50) NULL,
	[Author] [nvarchar](80) NULL,
	[image] [nvarchar](300) NULL,
	[Cid] [int] NULL,
	[Language] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[quantity] [int] NULL,
	[publisher] [nvarchar](75) NULL,
	[publishYear] [int] NULL,
	[pages] [int] NULL,
 CONSTRAINT [PK__Book__3DE0C22789A1516C] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CID] [int] NOT NULL,
	[CName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[StudentID] [nvarchar](50) NOT NULL,
	[BookID] [int] NOT NULL,
	[Content] [nvarchar](200) NULL,
	[Star] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Librarian]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Librarian](
	[LibrarianID] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](80) NULL,
	[Shift] [nvarchar](50) NULL,
	[Note] [nvarchar](50) NULL,
 CONSTRAINT [PK_Librarian_1] PRIMARY KEY CLUSTERED 
(
	[LibrarianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Method]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Method](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](80) NOT NULL,
	[MethodID] [int] NULL,
	[LibrarianID] [nvarchar](50) Default 'L111',
	[OrderDate] [date] NULL,
	[ScheduledTime] [date] NULL,
	[StatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[ReceivedOn] [nvarchar](255) NULL,
	[ReturnOn] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalty]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalty](
	[PenaltyID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](80) NULL,
	[OrderID] [int] NULL,
	[Amount] [money] NULL,
	[StatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PenaltyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renewal]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renewal](
	[RenewalID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[LibrarianID] [nvarchar](50) Default 'L111',
	[ExtendDate] [date] NULL,
	[Reason] [nvarchar](max) NULL,
	[StatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RenewalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/15/2023 3:16:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](80) NULL,
	[Semsester] [int] NULL,
	[Major] [nvarchar](50) NULL,
	[note] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [FullName], [Gender], [PhoneNumber], [Status], [AccessLevel]) VALUES (1, N'chung@fpt.edu.vn', N'123', N'do van chung', 1, 123123123, 1, 1)
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [FullName], [Gender], [PhoneNumber], [Status], [AccessLevel]) VALUES (9, N'chungdvhe160136@fpt.edu.vn', N'123', N'Do Van Chung', 1, 123123123, 1, 1)
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [FullName], [Gender], [PhoneNumber], [Status], [AccessLevel]) VALUES (10, N'duy@fpt.edu.vn', N'123', N'Ong Hoang Duy', 0, 123123123, 1, 2)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Announcement] ON 

INSERT [dbo].[Announcement] ([AnnouncementID], [LibrarianID], [PublishDate], [Title], [Note]) VALUES (1, N'L111', CAST(N'2023-03-11' AS Date), N'test1', N'test1')
INSERT [dbo].[Announcement] ([AnnouncementID], [LibrarianID], [PublishDate], [Title], [Note]) VALUES (2, N'L111', CAST(N'2023-03-11' AS Date), N'test2', N'test2')
INSERT [dbo].[Announcement] ([AnnouncementID], [LibrarianID], [PublishDate], [Title], [Note]) VALUES (3, N'L111', CAST(N'2023-03-11' AS Date), N'test3', N'test3')
SET IDENTITY_INSERT [dbo].[Announcement] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookID], [Bname], [Author], [image], [Cid], [Language], [Description], [Status], [quantity], [publisher], [publishYear], [pages]) VALUES (1, N'Lazy diary', N'joe burn', N'img/Lazy diary.jpg', 1, N'English', N'the dramitic stoy about a child', 1, 10, N'open book', 2020, 200)
INSERT [dbo].[Book] ([BookID], [Bname], [Author], [image], [Cid], [Language], [Description], [Status], [quantity], [publisher], [publishYear], [pages]) VALUES (2, N'firebase', N'adam rotch', N'img', 11, N'other', N'aaa', 1, 10, N'bod', 2020, 200)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
INSERT [dbo].[Category] ([CID], [CName]) VALUES (1, N'Science')
INSERT [dbo].[Category] ([CID], [CName]) VALUES (2, N'Foreign language')
INSERT [dbo].[Category] ([CID], [CName]) VALUES (3, N'Psychology')
GO
INSERT [dbo].[FeedBack] ([StudentID], [BookID], [Content], [Star], [Date]) VALUES (N'he11', 1, N'Good', 4, CAST(N'2222-02-02' AS Date))
INSERT [dbo].[FeedBack] ([StudentID], [BookID], [Content], [Star], [Date]) VALUES (N'he11', 9, N'aaaaaaaaaaaaaa', 1, CAST(N'2023-03-05' AS Date))
INSERT [dbo].[FeedBack] ([StudentID], [BookID], [Content], [Star], [Date]) VALUES (N'he11', 33, N'on', 2, CAST(N'2019-09-09' AS Date))
GO
INSERT [dbo].[Librarian] ([LibrarianID], [AccountName], [Shift], [Note]) VALUES (N'L111', N'hoang@fpt.edu.vn', N'1', NULL)
INSERT [dbo].[Librarian] ([LibrarianID], [AccountName], [Shift], [Note]) VALUES (N'L222', N'duy@fpt.edu.vn', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Method] ON 

INSERT [dbo].[Method] ([MethodID], [MethodName]) VALUES (1, N'Direct')
INSERT [dbo].[Method] ([MethodID], [MethodName]) VALUES (2, N'Delivery')
SET IDENTITY_INSERT [dbo].[Method] OFF
GO


INSERT [dbo].[Order] ( [AccountName], [MethodID], [LibrarianID], [OrderDate], [ScheduledTime], [StatusID]) VALUES ( N'nam@fpt.edu.vn', 1, N'L111', CAST(N'2023-02-23' AS Date), CAST(N'2023-11-11' AS Date), 1)
INSERT [dbo].[Order] ( [AccountName], [MethodID], [LibrarianID], [OrderDate], [ScheduledTime], [StatusID]) VALUES ( N'long@gmail.com', 2, N'L111', CAST(N'2023-02-23' AS Date), CAST(N'2023-03-11' AS Date), 1)
INSERT [dbo].[Order] ( [AccountName], [MethodID], [LibrarianID], [OrderDate], [ScheduledTime], [StatusID]) VALUES ( N'chung@fpt.edu.vn', NULL, NULL, CAST(N'1900-01-01' AS Date), NULL, 1)

GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [ReceivedOn], [ReturnOn]) VALUES (1, 1, 1, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [ReceivedOn], [ReturnOn]) VALUES (2, 2, 2, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [ReceivedOn], [ReturnOn]) VALUES (4, 4, 9, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Penalty] ON 

INSERT [dbo].[Penalty] ([PenaltyID], [AccountName], [OrderID], [Amount], [StatusID]) VALUES (1, N'nam@gmail.com', 2, 20.0000, 7)
INSERT [dbo].[Penalty] ([PenaltyID], [AccountName], [OrderID], [Amount], [StatusID]) VALUES (2, N'long@gmail.com', 1, 20.0000, 7)
SET IDENTITY_INSERT [dbo].[Penalty] OFF
GO

SET IDENTITY_INSERT [dbo].[Renewal] ON 
INSERT [dbo].[Renewal] ([RenewalID], [OrderID], [LibrarianID], [ExtendDate], [Reason], [StatusID]) VALUES (1, 1, N'L111', CAST(N'2023-02-27' AS Date), N'sdfghdhfghfđfg', 1)
INSERT [dbo].[Renewal] ([RenewalID], [OrderID], [LibrarianID], [ExtendDate], [Reason], [StatusID]) VALUES (2, 2, N'L111', CAST(N'2023-04-30' AS Date), N'dfghdfghdfg', 2)
SET IDENTITY_INSERT [dbo].[Renewal] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [statusName]) VALUES (1, N'Pending')
INSERT [dbo].[Status] ([StatusID], [statusName]) VALUES (2, N'Approved')
INSERT [dbo].[Status] ([StatusID], [statusName]) VALUES (3, N'Closed')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
INSERT [dbo].[Student] ([StudentID], [AccountName], [Semsester], [Major], [note]) VALUES (N'he11', N'chung@fpt.edu.vn', 1, N'1', NULL)
INSERT [dbo].[Student] ([StudentID], [AccountName], [Semsester], [Major], [note]) VALUES (N'he12', N'linh@fpt.edu.vn', 2, N'1', NULL)
INSERT [dbo].[Student] ([StudentID], [AccountName], [Semsester], [Major], [note]) VALUES (N'he13', N'nam@fpt.edu.vn', 1, N'1', NULL)
GO
ALTER TABLE [dbo].[Announcement] ADD  DEFAULT (getdate()) FOR [PublishDate]
GO

ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Penalty] ADD  DEFAULT ((7)) FOR [StatusID]
GO

ALTER TABLE [dbo].[Announcement]  WITH CHECK ADD FOREIGN KEY([LibrarianID])
REFERENCES [dbo].[Librarian] ([LibrarianID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([Cid])
REFERENCES [dbo].[Category] ([CID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Book1] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Book1]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Student1] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Student1]
GO
ALTER TABLE [dbo].[Librarian]  WITH CHECK ADD  CONSTRAINT [FK_Librarian_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[Librarian] CHECK CONSTRAINT [FK_Librarian_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__AccountNa__3B75D760] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__AccountNa__3B75D760]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([LibrarianID])
REFERENCES [dbo].[Librarian] ([LibrarianID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([MethodID])
REFERENCES [dbo].[Method] ([MethodID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK__Penalty__Account__44FF419A] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK__Penalty__Account__44FF419A]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Renewal]  WITH CHECK ADD FOREIGN KEY([LibrarianID])
REFERENCES [dbo].[Librarian] ([LibrarianID])
GO
ALTER TABLE [dbo].[Renewal]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Renewal]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
USE [master]
GO
